
.transform-slide {
    transition: background-color 0.5s ;  /* Примерная длительность и функция анимации */
}
#designText {
    margin: 0;
    color: #8e9aa8;
}
#styleSelector option:checked {
    background-color: #3c78e7;
    color: #ffffff;
}