/* name: Furrc Edition */

@font-face {
    font-family: "UniSansHeavy";
    src: url("../font/Uni Sans Heavy.otf");
}

@font-face {
    font-family: "MinecraftRegular";
    src: url("../font/MinecraftRegular-Bmg3.otf");
}

body {
    margin: 0;
    padding: 0;

    background: black;

    color: #ecf0f1;
    font-family: 'UniSansHeavy', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

button, input {
    border-radius: 10px;
    margin: 10px;
    color: #ecf0f1;
    border: 2px solid #ecf0f1;
    background-color: #00000000;
    width: 300px;
    box-sizing: border-box;
}

input, button {
    display: block;
    width: 80%;
    font-size: 16px;
    padding: 10px;
}

button {
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    border: 2px solid #1dabda;
}


#minecraftNickname {
    color: #ffffff;
}

#output {
    margin: 10px;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    border: 8px solid #411806;
    background-color: #fefaee;
    font-family: 'MinecraftRegular', monospace;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    overflow: hidden;
    line-height: 1.5;
    white-space: pre-wrap;
    margin-right: 18%;
    margin-left: 2%;
    padding: 15px;
}
.left-block img {
    display: none;
}
.theme {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 53%;
    margin-top: 1rem;
}
#styleSelector {
    border: 2px solid #ecf0f1;
    background-color: #00000000;
    color: white;
}
option {
    color: black;
}
.left-block
{
  width: 350px;
  margin-left: 15%;
}
.text-label {
    padding: .7rem;
}