
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

html {
    background-color: #121920;
    font-family: Montserrat;
}
body {
    color: #ffffff;
}
input, button {
    border-radius: .45rem;
    color: white;
}
input {
    background-color: #18212b;
}
#output {
    background-color: #18212b;
    border-radius: .5rem;
}
.create-passport {
    background-color: #3c78e7;
}
.create-passport:hover {
    background-color: #2b5ebd; 
}
.copy-button {
    background-color: #27ae60;
}
.copy-button:hover {
    background-color: #1b8848;
}
#styleSelector {
    background-color: #18212b;
    color: #ffffff;
}
footer {
    color: #1e3141;
}
