
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

html {
    background-color: #ecf0f1;
    font-family: Montserrat;
}
body {
    color: #000000;
}
input, button {
    border-radius: .45rem;
    color: white;
}
input {
    color: black;
}
input {
    background-color: #e1e7e7;
}
#output {
    background-color: #d5dddd;
    border-radius: .5rem;
}
.create-passport {
    background-color: #3c78e7;
}
.create-passport:hover {
    background-color: #2b5ebd; 
}
.copy-button {
    background-color: #27ae60;
}
.copy-button:hover {
    background-color: #1b8848;
}
#styleSelector {
    background-color: #e1e7e7;
}
footer {
    color: #b8c1c9;
}